In [1]:
from datetime import datetime
from appstore.data.storage.job import JobRepo, RatingJobRun, ReviewJobRun
from appstore.container import AppstoreContainer
from appstore.infrastructure.io.local import IOService

In [2]:
container = AppstoreContainer()
container.init_resources()
container.wire(packages=["appstore.data.acquisition"])

In [3]:
JOB_FILEPATH = "tests/data/job/jobs.csv"
REVIEW_JOBRUN_FILEPATH = "tests/data/job/review_jobrun.csv"
RATING_JOBRUN_FILEPATH = "tests/data/job/rating_jobrun.csv"

In [4]:
job_repo = container.data.job_repo()
review_jobrun_repo = container.data.review_jobrun_repo()
rating_jobrun_repo = container.data.rating_jobrun_repo()

In [5]:
job_repo.reset()
review_jobrun_repo.reset()
rating_jobrun_repo.reset()

[08/02/2023 08:01:09 AM] [INFO] [JobRepo] [reset] : Repository JobRepo reset.
[08/02/2023 08:01:12 AM] [INFO] [ReviewJobRunRepo] [reset] : Repository ReviewJobRunRepo reset.
[08/02/2023 08:01:15 AM] [INFO] [RatingJobRunRepo] [reset] : Repository RatingJobRunRepo reset.

In [6]:
jobs = IOService.read(JOB_FILEPATH)
review_jobruns = IOService.read(REVIEW_JOBRUN_FILEPATH)
rating_jobruns = IOService.read(RATING_JOBRUN_FILEPATH)

In [7]:
def setdates(df):
    started = "07/15/2023 04:20:20"    
    ended = "07/29/2023 04:20:20"
    epoch = "01/01/1970 00:00:10"
    try:
        completed = df['complete'] == True    
        df.loc[completed, "completed"] = datetime.strptime(started, "%m/%d/%Y %H:%M:%S")
        df.loc[completed, "started"] = datetime.strptime(started, "%m/%d/%Y %H:%M:%S")
        df.loc[completed, "ended"] = datetime.strptime(ended, "%m/%d/%Y %H:%M:%S")
        notcompleted = df['complete'] == False
        df.loc[notcompleted, "completed"] = datetime.strptime(epoch, "%m/%d/%Y %H:%M:%S")
        df.loc[notcompleted, "started"] = datetime.strptime(epoch, "%m/%d/%Y %H:%M:%S")
        df.loc[notcompleted, "ended"] = datetime.strptime(epoch, "%m/%d/%Y %H:%M:%S")
    except Exception:
        pass
    return df

In [8]:
jobs = setdates(jobs)
review_jobruns = setdates(review_jobruns)
rating_jobruns = setdates(rating_jobruns)
jobs
review_jobruns
rating_jobruns

,id,controller,category_id,category,complete,completed
0,rating-6000,RatingController,6000,Business,False,1970-01-01 00:00:10
1,rating-6002,RatingController,6002,Utilities,False,1970-01-01 00:00:10
2,rating-6005,RatingController,6005,Social_Networking,False,1970-01-01 00:00:10
3,rating-6007,RatingController,6007,Productivity,False,1970-01-01 00:00:10
4,rating-6012,RatingController,6012,Lifestyle,True,2023-07-15 04:20:20
5,rating-6013,RatingController,6013,Health_And_Fitness,True,2023-07-15 04:20:20
6,rating-6015,RatingController,6015,Finance,True,2023-07-15 04:20:20
7,rating-6016,RatingController,6016,Entertainment,False,1970-01-01 00:00:10
8,rating-6017,RatingController,6017,Education,False,1970-01-01 00:00:10
9,rating-6020,RatingController,6020,Medical,True,2023-07-15 04:20:20
10,rating-6023,RatingController,6023,Food_And_Drink,True,2023-07-15 04:20:20
11,rating-6024,RatingController,6024,Shopping,False,1970-01-01 00:00:10
12,review-6000,ReviewController,6000,Business,True,2023-07-15 04:20:20
13,review-6002,ReviewController,6002,Utilities,False,1970-01-01 00:00:10
14,review-6005,ReviewController,6005,Social_Networking,False,1970-01-01 00:00:10
15,review-6007,ReviewController,6007,Productivity,True,2023-07-15 04:20:20
16,review-6012,ReviewController,6012,Lifestyle,False,1970-01-01 00:00:10
17,review-6013,ReviewController,6013,Health_And_Fitness,False,1970-01-01 00:00:10
18,review-6015,ReviewController,6015,Finance,False,1970-01-01 00:00:10
19,review-6016,ReviewController,6016,Entertainment,False,1970-01-01 00:00:10
20,review-6017,ReviewController,6017,Education,False,1970-01-01 00:00:10
21,review-6020,ReviewController,6020,Medical,False,1970-01-01 00:00:10
22,review-6023,ReviewController,6023,Food_And_Drink,False,1970-01-01 00:00:10
23,review-6024,ReviewController,6024,Shopping,False,1970-01-01 00:00:10

,jobid,controller,category_id,category,started,ended,elapsed,client_errors,server_errors,data_errors,errors,size,size_ave,apps,apps_per_second,reviews,reviews_per_second,completed,complete
0,rating-6000,RatingController,6000,Business,07/15/2023 4:20,07/16/2023 14:20,236547,22,25,75,122,548953,6.39,85975,2.36,258,5.60,2023-07-15 04:20:20,True

,jobid,controller,category_id,category,started,ended,elapsed,client_errors,server_errors,data_errors,errors,size,size_ave,apps,apps_per_second,completed,complete
0,rating-6000,RatingController,6000,Business,07/15/2023 4:20,07/16/2023 14:20,236547,22,25,75,122,548953,6.39,85975,2.36,1970-01-01 00:00:10,False

In [9]:
job_repo.add(jobs)
review_jobrun_repo.add(review_jobruns)
rating_jobrun_repo.add(rating_jobruns)

[08/02/2023 08:01:16 AM] [DEBUG] [JobRepo] [add] : Added 24 rows to the job repository.
[08/02/2023 08:01:16 AM] [ERROR] [MySQLDatabase] [insert] : Exception occurred during database insert.
Exception type:type[sqlalchemy.exc.SQLAlchemyError]
(pymysql.err.OperationalError) (1292, "Incorrect datetime value: '07/15/2023 4:20' for column 'started' at row 1")
[SQL: INSERT INTO review_jobrun (jobid, controller, category_id, category, started, ended, elapsed, client_errors, server_errors, data_errors, errors, size, size_ave, apps, apps_per_second, reviews, reviews_per_second, completed, complete) VALUES (%(jobid)s, %(controller)s, %(category_id)s, %(category)s, %(started)s, %(ended)s, %(elapsed)s, %(client_errors)s, %(server_errors)s, %(data_errors)s, %(errors)s, %(size)s, %(size_ave)s, %(apps)s, %(apps_per_second)s, %(reviews)s, %(reviews_per_second)s, %(completed)s, %(complete)s)]
[parameters: {'jobid': 'rating-6000', 'controller': 'RatingController', 'category_id': 6000, 'category': 'Business', 'started': '07/15/2023 4:20', 'ended': '07/16/2023 14:20', 'elapsed': 236547, 'client_errors': 22, 'server_errors': 25, 'data_errors': 75, 'errors': 122, 'size': 548953, 'size_ave': 6.385030532, 'apps': 85975, 'apps_per_second': 2.36, 'reviews': 258, 'reviews_per_second': 5.6, 'completed': datetime.datetime(2023, 7, 15, 4, 20, 20), 'complete': True}]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Traceback (most recent call last):
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1965, in _exec_single_context
    self.dialect.do_execute(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/sqlalchemy/engine/default.py", line 921, in do_execute
    cursor.execute(statement, parameters)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/cursors.py", line 148, in execute
    result = self._query(query)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/cursors.py", line 310, in _query
    conn.query(q)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/connections.py", line 548, in query
    self._affected_rows = self._read_query_result(unbuffered=unbuffered)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/connections.py", line 775, in _read_query_result
    result.read()
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/connections.py", line 1156, in read
    first_packet = self.connection._read_packet()
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/connections.py", line 725, in _read_packet
    packet.raise_for_error()
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
pymysql.err.OperationalError: (1292, "Incorrect datetime value: '07/15/2023 4:20' for column 'started' at row 1")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/john/projects/appstore/appstore/infrastructure/database/base.py", line 162, in insert
    return data.to_sql(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pandas/core/generic.py", line 2878, in to_sql
    return sql.to_sql(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pandas/io/sql.py", line 769, in to_sql
    return pandas_sql.to_sql(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pandas/io/sql.py", line 1920, in to_sql
    total_inserted = sql_engine.insert_records(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pandas/io/sql.py", line 1470, in insert_records
    raise err
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pandas/io/sql.py", line 1461, in insert_records
    return table.insert(chunksize=chunksize, method=method)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pandas/io/sql.py", line 1023, in insert
    num_inserted = exec_insert(conn, keys, chunk_iter)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pandas/io/sql.py", line 929, in _execute_insert
    result = conn.execute(self.table.insert(), data)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1412, in execute
    return meth(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/sqlalchemy/sql/elements.py", line 483, in _execute_on_connection
    return connection._execute_clauseelement(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1635, in _execute_clauseelement
    ret = self._execute_context(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1844, in _execute_context
    return self._exec_single_context(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1984, in _exec_single_context
    self._handle_dbapi_exception(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 2339, in _handle_dbapi_exception
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1965, in _exec_single_context
    self.dialect.do_execute(
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/sqlalchemy/engine/default.py", line 921, in do_execute
    cursor.execute(statement, parameters)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/cursors.py", line 148, in execute
    result = self._query(query)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/cursors.py", line 310, in _query
    conn.query(q)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/connections.py", line 548, in query
    self._affected_rows = self._read_query_result(unbuffered=unbuffered)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/connections.py", line 775, in _read_query_result
    result.read()
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/connections.py", line 1156, in read
    first_packet = self.connection._read_packet()
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/connections.py", line 725, in _read_packet
    packet.raise_for_error()
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "/home/john/anaconda3/envs/appstore/lib/python3.10/site-packages/pymysql/err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (1292, "Incorrect datetime value: '07/15/2023 4:20' for column 'started' at row 1")
[SQL: INSERT INTO review_jobrun (jobid, controller, category_id, category, started, ended, elapsed, client_errors, server_errors, data_errors, errors, size, size_ave, apps, apps_per_second, reviews, reviews_per_second, completed, complete) VALUES (%(jobid)s, %(controller)s, %(category_id)s, %(category)s, %(started)s, %(ended)s, %(elapsed)s, %(client_errors)s, %(server_errors)s, %(data_errors)s, %(errors)s, %(size)s, %(size_ave)s, %(apps)s, %(apps_per_second)s, %(reviews)s, %(reviews_per_second)s, %(completed)s, %(complete)s)]
[parameters: {'jobid': 'rating-6000', 'controller': 'RatingController', 'category_id': 6000, 'category': 'Business', 'started': '07/15/2023 4:20', 'ended': '07/16/2023 14:20', 'elapsed': 236547, 'client_errors': 22, 'server_errors': 25, 'data_errors': 75, 'errors': 122, 'size': 548953, 'size_ave': 6.385030532, 'apps': 85975, 'apps_per_second': 2.36, 'reviews': 258, 'reviews_per_second': 5.6, 'completed': datetime.datetime(2023, 7, 15, 4, 20, 20), 'complete': True}]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

OperationalError: (pymysql.err.OperationalError) (1292, "Incorrect datetime value: '07/15/2023 4:20' for column 'started' at row 1")
[SQL: INSERT INTO review_jobrun (jobid, controller, category_id, category, started, ended, elapsed, client_errors, server_errors, data_errors, errors, size, size_ave, apps, apps_per_second, reviews, reviews_per_second, completed, complete) VALUES (%(jobid)s, %(controller)s, %(category_id)s, %(category)s, %(started)s, %(ended)s, %(elapsed)s, %(client_errors)s, %(server_errors)s, %(data_errors)s, %(errors)s, %(size)s, %(size_ave)s, %(apps)s, %(apps_per_second)s, %(reviews)s, %(reviews_per_second)s, %(completed)s, %(complete)s)]
[parameters: {'jobid': 'rating-6000', 'controller': 'RatingController', 'category_id': 6000, 'category': 'Business', 'started': '07/15/2023 4:20', 'ended': '07/16/2023 14:20', 'elapsed': 236547, 'client_errors': 22, 'server_errors': 25, 'data_errors': 75, 'errors': 122, 'size': 548953, 'size_ave': 6.385030532, 'apps': 85975, 'apps_per_second': 2.36, 'reviews': 258, 'reviews_per_second': 5.6, 'completed': datetime.datetime(2023, 7, 15, 4, 20, 20), 'complete': True}]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
job_repo.getall()
review_jobrun_repo.getall()
rating_jobrun_repo.getall()